<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="test/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Confirm Email</title>

	
</head>
<body>
	{{ username }},Welcome to glumblr. Please click in the link below to verify your email address {{ email }} and complete the registeration
        for your account: <a href="http://{{host}}/confirm/{{username}}/{{token}}">http://{{host}}/confirm/{{username}}/{{token}}<a>
</body>
</html>