@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");
body{
	background-image: url('/static/background_img.png')
}
#grumblr{
	font-size:20px;
}
#intro{
	font-size:15px; 
	font-style: oblique;
	margin-left : 80px;
	color:yellow;
}
#home{
	margin-left: 200px;
	margin-top: 10px;
	
}
.other-navs{
	margin-left: 40px;
	margin-top:10px;
}
a{
	text-decoration: none;
}
#a_underscore{
	text-decoration: underline;
	color:blue;
}

.left-col{
	font-size: 15px; 
	width: 230px;
	height: 50px; 
	text-align: center; 
	line-height: 50px;
	border-radius: 10px;
	margin-top:20px;

}
.recent_post{
	width:800px;
	height:50px;
	margin-left:0;
	margin-top:30px;
	font-size: 30px;
	/*font-style: oblique;*/
	color: #2E9AFE;
	border-bottom: 5px solid #A4A4A4;
	text-height:100px;
}
.container {
	/*margin-top:200px;*/
	margin-left:100px;
	max-width: 700px;
	/*width: 90%;*/
	margin: 0 auto;
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  /*color: blue;*/
  color: rgba(0, 0, 0, 0.7);
  /*border-left: 10px solid rgba(0, 0, 0, 0.3);*/
  border-left: 10px solid #F7D358;
}
.timeline-item p {
  font-size: 1rem;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .785rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, #F7D358 60%, transparent) 1 100%;
     border-image: -webkit-linear-gradient(top, #F7D358 60%, transparent) 1 100%;
     border-image: linear-gradient(to bottom, #F7D358 60%, transparent) 1 100%;
}

	
.surface-img{
	margin-top: 50px;
	margin-left: 120px;
	/*margin-right: auto;*/
	width: 10%;
}
p{
	font-size:20px;
	/*font-family: Comic Sans MS, Comic Sans, cursive;*/
	/*margin-left:40px;*/
}
input{
	margin-top: 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-left: 40px;
	width: 80%;
}
button{
	width: 80%;
	height: 30px;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 50px;
	border-radius: 8px;
	background-color: #58ACFA;
}
.btn:hover{
	background-color: #F2F2F2;
}
